.SignIn {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.signForm {
    max-width: 448px;
    min-height: 370px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background: linear-gradient(to right, #f6fdfa, #f8fdfb);
    backdrop-filter: blur(10px);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    position: relative;
}

.form-group label {
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 10px;
    opacity: 0;
    transition: color 0.3s ease-in-out, top 0.3s ease-in-out;
}

.auth-input {
    width: 100%;
    padding: 12px 15px;
    margin: 15px 0;
    outline: none;
    border: 1px solid var(--border);
    border-radius: var(--radius) var(--radius) 3px 3px;
    background-color: #f3f3f3;
    border-bottom: 5px solid transparent;
    font-family: "Lato", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px inset;
    transition: all 0.2s ease-in-out;
}

.auth-input:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.auth-input:focus:valid {
    border-bottom: 5px solid rgb(120, 196, 120);
}

.auth-input:focus:invalid {
    border-bottom: 5px solid rgb(255, 102, 102);
}

.auth-input:focus + label,
.auth-input:placeholder-shown + label {
    opacity: 0;
    visibility: hidden;
    top: 20px;
    left: 20px;
}

.auth-input:not(:placeholder-shown) + label {
    opacity: 1;
    visibility: visible;
    top: -13px;
    left: 18px;
}

.auth-button {
    border-radius: var(--radius);
    border: 1px solid #14b8a6;
    background: #14b8a6;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    transition: transform 0.4s ease-in;
}

.auth-button:hover {
    background-color: #0d9488;
}

.auth-button:active {
    transform: scale(0.95);
}
