.profile-menu {
    position: relative;
}

.profile-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background: #fff9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    z-index: 1000;
}

.profile-dropdown a {
    color: #003366;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
}

.profile-dropdown a:hover {
    background-color: #14b8a6;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.profile-img {
    transform: scale(1.5);
}